[submodule "web-framework"]
	path = web-framework
	url = https://github.com/trty673/web-framework
[submodule "mutiWF"]
	path = mutiWF
	url = https://github.com/mutii12/mutiWF
[submodule "Assignment-WebFramework"]
	path = Assignment-WebFramework
	url = https://github.com/alishazaharani/Assignment-WebFramework.git
[submodule "alishazaharani"]
	path = alishazaharani
	url = https://github.com/alishazaharani/Assignment-WebFramework.git
