[submodule "mutiarasavitie"]
	path = mutiarasavitie
	url = https://github.com/mutii12/mutiarasavitie
[submodule "Mitra-Buana-Website"]
	path = Mitra-Buana-Website
	url = https://github.com/trty673/Mitra-Buana-Website.git
